@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    width: 100%;
    background-color: hsla(0, 24%, 93%, 0.27);
}

/* ==========================header-part========================== */
header {
    background: linear-gradient(to left,
            rgba(0, 0, 0, .6),
            rgba(0, 0, 0, .6)), url("/img_SD_PHOTO/blog/Cambridge-Wedding-Photography.jpg")no-repeat center center/cover;
    width: 100%;
    height: 100vh;
    background-attachment: fixed;

}

.nav-part {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0 0 0;
}

.nav-logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-logo .menu {
    font-size: 30px;
    color: aliceblue;

}

.menu-bar {
    display: none;
}

.nav-list2 .slider {
    position: fixed;
    width: 500px;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(95, 95, 95, 0.2);
    z-index: 2;
    box-shadow: -10px 0 10 rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 120px;
    display: none;
    gap: 20px;


}

.nav-list2 .slider .slider-bar:hover {

    background-color: rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 3.8vh;

}

.nav-list2 ul li a {
    font-size: 30px;
    color: #ffff;
    padding-left: 170px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.nav-list2 ul li .close {
    font-size: 40px;
    padding: 0px 0 60px 0px;
}

.nav-logo img {
    width: 100%;
    height: 30vh;
}

.nav-list1 a {
    position: relative;
    padding: 10px 0px;
}

.nav-list1 a:after {
    content: "";
    position: absolute;
    background-color: rgba(248, 245, 245, 0.641);
    height: 2px;
    width: 0;
    left: 0px;
    bottom: 0px;
    transition: 1s;
}

.nav-list1 a:hover:after {
    width: 100%;
}


.nav-list1 ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    
}

.nav-list1 ul li a {
    font-size: 20px;
    color: #ffff;
    letter-spacing: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}


.nav-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 40px;
}

.nav-text .nav-para {
    font-size: 60px;
    text-align: center;
    color: #ffff;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.nav-para1 {
    font-size: 80px;
    color: #ffff;
    border-bottom: 5px solid #FFBE0A;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
    
}

/* <!--.................................... main===part..................................--> */
.blog-part {
     padding: 5vw 5vw;   
  
    display: grid;
     place-items: center; 
    /* grid-template-columns: repeat(2, 1fr); */
    grid-auto-rows: 45vw;
    grid-template-columns: repeat(auto-fit, minmax(700px, 1fr))
}

.blog-box {
    width: 90%;
    height: 100vh;
   
}

.blog-box-img{
    overflow: hidden;
  
}
.blog-box-img .blog-img {
    width: 100%;
    height: 55vh;
    object-fit: cover;
    transition-duration: 2s;
    display: block;
    margin: 0 auto;
}
.blog-box-img .blog-img:hover{
    transform: scale(1.1);
}
.blog-text .blog-text1 {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 25px;
    color: #841921;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;

}

.blog-para .blog-para1 {
    padding-bottom: 20px;
    font-size: 13px;
    color: #292929;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.blog-btn .blog-btn1 {
    font-size: 16px;
    color: #841921;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    border-bottom: 2px solid #841921;
}
/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image:linear-gradient(to left,
    rgba(40, 30, 30, 0.6),
    rgba(40, 30, 30, 0.6)), url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 45vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 35px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 60px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 30px 80px 30px 80px;
    font-size: 20px;
   color: #000;
   margin-bottom: 60px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 22px;
}
.f-part1 .ficon{
    font-size: 35px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #cdccc7;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 15vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 30px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 18px;
    padding-bottom: 20px;
}
.f-part2 .f-text2{
    font-size: 18px;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;

}











@media (min-width:1100px) and (max-width:1400px) {

    /* >>>>>>>>>>>>>>header-part<<<<<<<<<<<<<<<<< */
    header {
        background-attachment: fixed;
    }

    .nav-logo img {
        width: 300px;
    }

    .nav-list1 ul li ul.drop-down {
        left: 300px;
        height: 15vh;
        color: #fff;
        display: none;
        position: absolute;
        background-color: rgba(95, 95, 95, 0.2);
        box-shadow: -10px 0 10 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding-top: 20px;
        padding-left: 10px;
        width: 30%;
        letter-spacing: normal;

    }

    ul li:hover ul.drop-down {
        display: block;

    }


    .nav-text .nav-para {
        font-size: 45px;
        text-align: center;
        color: #ffff;

    }

    .nav-para1 {
        font-size: 50px;
        border-bottom: 5px solid #FFBE0A;

    }
/* <!--.................................... main===part..................................--> */
.blog-part {
    padding: 10vw .1vw;   
   display: grid;
    place-items: center; 
   /* grid-template-columns: repeat(2, 1fr); */
   grid-auto-rows: 60vw;
   grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))
}

.blog-box {
   width: 90%;
   height: 100vh;
  
}

.blog-box-img{
   overflow: hidden;
 
}
.blog-box-img .blog-img {
   width: 100%;
   height:45vh;
   object-fit: cover;
   transition-duration: 2s;
   display: block;
   margin: 0 auto;
}
.blog-box-img .blog-img:hover{
   transform: scale(1.1);
}
.blog-text .blog-text1 {
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 2vw;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.blog-para .blog-para1 {
   padding-bottom: 20px;
   font-size: 1.2vw;
   color: #292929;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 
}

.blog-btn .blog-btn1 {
   font-size: 16px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   border-bottom: 2px solid #841921;
}

/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image: url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 35px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 50px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 36px 80px 36px 80px;
    font-size: 20px;
   color: #000;
   margin-bottom: 50px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 22px;
}
.f-part1 .ficon{
    font-size: 35px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #2c2b27;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 13vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 20px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 18px;
    padding-bottom: 15px;
}
.f-part2 .f-text2{
    font-size: 16px;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;
}


}

@media (min-width:992px) and (max-width:1100.99px) {

    /* >>>>>>>>>>>>>>header-part<<<<<<<<<<<<<<<<< */
    header {
        width: 100%;
        height: 110vh;
        background-attachment: fixed;
    }

    .nav-logo img {
        width: 300px;
    }

    .nav-list1 ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        /* display: none; */
    }

    .nav-text .nav-para {
        font-size: 45px;
        text-align: center;
        color: #ffff;

    }

    .nav-list1 ul li ul.drop-down {
        left: 250px;
        height: 14vh;
        color: #fff;
        display: none;
        position: absolute;
        background-color: rgba(95, 95, 95, 0.2);
        box-shadow: -10px 0 10 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        padding-top: 20px;
        padding-left: 10px;
        width: 34%;
        letter-spacing: normal;

    }

    ul li:hover ul.drop-down {
        display: block;

    }


    .nav-text .nav-para {
        font-size: 45px;
        text-align: center;
        color: #ffff;

    }

    .nav-para1 {
        font-size: 60px;
        border-bottom: 5px solid #FFBE0A;

    }
/* <!--.................................... main===part..................................--> */
.blog-part {
    padding: 15vw .1vw;   
   display: grid;
    place-items: center; 
   /* grid-template-columns: repeat(2, 1fr); */
   grid-auto-rows: 60vw;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
}

.blog-box {
   width: 80%;
   height: 100vh;
  
}

.blog-box-img{
   overflow: hidden;
 
}
.blog-box-img .blog-img {
   width: 100%;
   height:35vh;
   object-fit: cover;
   transition-duration: 2s;
   display: block;
   margin: 0 auto;
}
.blog-box-img .blog-img:hover{
   transform: scale(1.1);
}
.blog-text .blog-text1 {
   padding-top: 20px;
   padding-bottom: 20px;
   font-size: 20px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.blog-para .blog-para1 {
   padding-bottom: 20px;
   font-size: 1.2vw;
   color: #292929;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 
}

.blog-btn .blog-btn1 {
   font-size: 16px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   border-bottom: 2px solid #841921;
}

/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image: url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 35px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 50px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 36px 80px 36px 80px;
    font-size: 20px;
   color: #000;
   margin-bottom: 50px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 22px;
}
.f-part1 .ficon{
    font-size: 35px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #2c2b27;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 13vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 20px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 18px;
    padding-bottom: 15px;
}
.f-part2 .f-text2{
    font-size: 16px;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;
}



}

@media (min-width:776px) and (max-width:991.99px) {

    /* >>>>>>>>>>>>>>header-part<<<<<<<<<<<<<<<<< */
    header {
        width: 100%;
        height: 100vh;
        background-attachment: fixed;
    }

    .nav-logo img {
        width: 300px;
    }

    .nav-part {
        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    .nav-logo {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 30px;
    }

    .nav-text {
        padding: 50px;
    }

    .menu-bar {
        position: absolute;
        top: 150px;
        right: 100px;
        display: block;
    }

    .nav-list1 ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        display: none;
    }

    .nav-text .nav-para {
        font-size: 42px;
        text-align: center;
        color: #ffff;


    }


    .nav-para1 {
        font-size: 50px;
        border-bottom: 5px solid #FFBE0A;

    }

/* <!--.................................... main===part..................................--> */
.blog-part {
    padding: 25vw .1vw;   
   display: grid;
    place-items: center; 
   /* grid-template-columns: repeat(2, 1fr); */
   grid-auto-rows: 60vw;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.blog-box {
   width: 80%;
   height: 100vh;
  
}

.blog-box-img{
   overflow: hidden;
 
}
.blog-box-img .blog-img {
   width: 100%;
   height:30vh;
   object-fit: cover;
   transition-duration: 2s;
   display: block;
   margin: 0 auto;
}
.blog-box-img .blog-img:hover{
   transform: scale(1.1);
}
.blog-text .blog-text1 {
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:1.7vw;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.blog-para .blog-para1 {
   padding-bottom: 10px;
   font-size: 1.1vw;
   color: #292929;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 
}

.blog-btn .blog-btn1 {
   font-size: 16px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   border-bottom: 2px solid #841921;
}

/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image: url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 30px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 50px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 20px 60px 20px 60px;
    font-size: 20px;
   color: #000;
   margin-bottom: 50px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 20px;
}
.f-part1 .ficon{
    font-size: 30px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #2c2b27;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 13vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 20px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 13px;
    padding-bottom: 15px;
}
.f-part2 .f-text2{
    font-size: 16px;
    text-align: center;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;
}

}

@media (min-width:576px) and (max-width:775.98px) {

    /* >>>>>>>>>>>>>>header-part<<<<<<<<<<<<<<<<< */
    header {
        width: 100%;
        height: 90vh;
        background-size: 100% 100%;
        background-attachment: fixed;
    }

    .nav-logo img {
        width: 200px;
    }

    .menu-bar {
        position: absolute;
        top: 150px;
        right: 100px;
        display: block;
    }

    .nav-list1 ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        display: none;
    }

    .nav-text {
        padding: 50px;
    }

    .nav-text .nav-para {
        font-size: 25px;
        text-align: center;
        color: #ffff;

    }


    .nav-list2 .slider {
        position: fixed;
        width: 400px;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgba(95, 95, 95, 0.2);
        z-index: 2;
        box-shadow: -10px 0 10 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 120px;
        display: none;
        gap: 20px;

    }

    .nav-list2 ul li a {
        font-size: 25px;
        color: #ffff;
        padding-left: 120px;

    }

    .nav-para1 {
        font-size: 35px;
        border-bottom: 5px solid #FFBE0A;

    }
/* <!--.................................... main===part..................................--> */
.blog-part {
    padding: 10vw .1vw;   
   display: grid;
    place-items: center; 
   /* grid-template-columns: repeat(2, 1fr); */
   grid-auto-rows: 70vw;
   grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
}

.blog-box {
   width: 80%;
   height: 50vh;
  
}

.blog-box-img{
   overflow: hidden;
 
}
.blog-box-img .blog-img {
   width: 100%;
   height:30vh;
   object-fit: cover;
   transition-duration: 2s;
   display: block;
   margin: 0 auto;
}
.blog-box-img .blog-img:hover{
   transform: scale(1.1);
}
.blog-text .blog-text1 {
   padding-top: 10px;
   padding-bottom: 10px;
   font-size:2.4vw;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.blog-para .blog-para1 {
   padding-bottom: 10px;
   font-size: 1.5vw;
   color: #292929;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 
}

.blog-btn .blog-btn1 {
   font-size: 16px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   border-bottom: 2px solid #841921;
}
/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image: url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 22px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 50px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 20px 60px 20px 60px;
    font-size: 18px;
   color: #000;
   margin-bottom: 60px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 20px;
}
.f-part1 .ficon{
    font-size: 22px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #2c2b27;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 13vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 20px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 10px;
    padding-bottom: 18px;
}
.f-part2 .f-text2{
    font-size: 13px;
    width: 80%; 
    text-align: center;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;
}



}

@media (min-width:410px) and (max-width:576px) {

    /* >>>>>>>>>>>>>>header-part<<<<<<<<<<<<<<<<< */
    header {
        width: 100%;
        height: 80vh;
        background-size: 100% 100%;
        object-fit: cover;
        background-attachment: fixed;
    }

    .nav-logo img {
        width: 150px;
        height: 150px;
    }

    .nav-list1 ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        display: none;
    }

    .nav-text {
        padding: 90px;
    }

    .nav-text .nav-para {
        font-size: 20px;
        text-align: center;
        color: #ffff;


    }

    .nav-list2 .slider {
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgba(95, 95, 95, 0.2);
        z-index: 2;
        box-shadow: -10px 0 10 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 120px;
        display: none;
        gap: 20px;

    }

    .nav-list2 ul li a .close {
        font-size: 25px;
        padding-bottom: 20px;
    }

    .nav-list2 ul li a {
        font-size: 25px;
        color: #ffff;
        padding-left: 90px;

    }

    .menu-bar {
        position: absolute;
        top: 120px;
        right: 40px;
        display: block;
    }

    .nav-para1 {
        font-size: 40px;
        border-bottom: 5px solid #FFBE0A;

    }
/* <!--.................................... main===part..................................--> */
.blog-part {
    padding: 10vw .1vw;   
   display: grid;
    place-items: center; 
   /* grid-template-columns: repeat(2, 1fr); */
   grid-auto-rows: 65vw;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.blog-box {
   width: 80%;
   height: 40vh;
}

.blog-box-img{
   overflow: hidden;
 
}
.blog-box-img .blog-img {
   width: 100%;
   height:20vh;
   object-fit: cover;
   transition-duration: 2s;
   display: block;
   margin: 0 auto;
}
.blog-box-img .blog-img:hover{
   transform: scale(1.1);
}
.blog-text .blog-text1 {
   padding-top: 5px;
   padding-bottom: 5px;
   font-size:2.4vw;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.blog-para .blog-para1 {
   padding-bottom: 5px;
   font-size: 1.5vw;
   color: #292929;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 
}

.blog-btn .blog-btn1 {
   font-size: 12px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   border-bottom: 2px solid #841921;
}
/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image: url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 22px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 50px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 20px 60px 20px 60px;
    font-size: 18px;
   color: #000;
   margin-bottom: 60px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 20px;
}
.f-part1 .ficon{
    font-size: 22px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #2c2b27;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 13vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 20px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 10px;
    padding-bottom: 18px;
}
.f-part2 .f-text2{
    font-size: 13px;
    width: 80%; 
    text-align: center;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;
}


}

@media (min-width:300px) and (max-width:410px) {

    /* >>>>>>>>>>>>>>header-part<<<<<<<<<<<<<<<<< */
    header {
        background-attachment: fixed;
    }

    .nav-logo .menu {
        font-size: 20px;
        color: aliceblue;

    }

    .nav-part {

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 40px 0 0 0;
    }

    header {
        width: 100%;
        height: 70vh;
        object-fit: cover;
    }

    .nav-logo img {
        width: 150px;
        height: 150px;
    }

    .nav-list1 ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        display: none;
    }

    .nav-text .nav-para {
        font-size: 20px;
        text-align: center;
        color: #ffff;

    }

    .nav-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .nav-list2 .slider {
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgba(95, 95, 95, 0.2);
        z-index: 2;
        box-shadow: -10px 0 10 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 120px;
        display: none;
        gap: 20px;

    }

    .nav-list2 ul li a .close {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .nav-list2 ul li a {
        font-size: 20px;
        color: #ffff;
        padding-left: 90px;
    }

    .menu-bar {
        position: absolute;
        top: 100px;
        right: 40px;
        display: block;

    }

    .nav-para1 {
        font-size: 25px;
        border-bottom: 5px solid #FFBE0A;

    }
/* <!--.................................... main===part..................................--> */
.blog-part {
    padding: 15vw .1vw;   
   display: grid;
    place-items: center; 
   /* grid-template-columns: repeat(2, 1fr); */
   grid-auto-rows: 260px;
   grid-template-columns: repeat(auto-fit, minmax(300px, 1fr))
}

.blog-box {
   width: 80%;
   height: 30vh;
}

.blog-box-img{
   overflow: hidden;
 
}
.blog-box-img .blog-img {
   width: 100%;
   height:18vh;
   object-fit: cover;
   transition-duration: 2s;
   display: block;
   margin: 0 auto;
}
.blog-box-img .blog-img:hover{
   transform: scale(1.1);
}
.blog-text .blog-text1 {
   padding-top: 5px;
   padding-bottom: 5px;
   font-size:2.4vw;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.blog-para .blog-para1 {
   padding-bottom: 5px;
   font-size: 1.5vw;
   color: #292929;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 
}

.blog-btn .blog-btn1 {
   font-size: 12px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   border-bottom: 2px solid #841921;
}

/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image: url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 20px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 50px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 10px 40px 10px 40px;
    font-size: 15px;
   color: #000;
   margin-bottom: 40px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 20px;
}
.f-part1 .ficon{
    font-size: 18px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #2c2b27;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 13vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 20px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 9px;
    padding-bottom: 18px;
    width: 80%; 
    text-align: center;
}
.f-part2 .f-text2{
    font-size: 10px;
    width: 80%; 
    text-align: center;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;
}



}

@media (min-width:280px) and (max-width:300px) {



    header {
        width: 100%;
        height: 60vh;
        object-fit: cover;
    }

    .nav-logo img {
        width: 100px;
        height: 100px;
    }

    .nav-list1 ul {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
        display: none;
    }

    .nav-text .nav-para {
        font-size: 15px;
        text-align: center;
        color: #ffff;

    }

    .nav-text {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px;
    }

    .nav-list2 .slider {
        position: fixed;
        width: 300px;
        height: 100vh;
        top: 0;
        right: 0;
        background-color: rgba(95, 95, 95, 0.2);
        z-index: 2;
        box-shadow: -10px 0 10 rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10px);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding-top: 120px;
        display: none;
        gap: 20px;

    }

    .nav-list2 ul li a .close {
        font-size: 20px;
        padding-bottom: 20px;
    }

    .nav-list2 ul li a {
        font-size: 20px;
        color: #ffff;
        padding-left: 90px;

    }

    .menu-bar {
        position: absolute;
        top: 80px;
        right: 40px;
        display: block;

    }

    .nav-para1 {
        font-size: 20px;
        border-bottom: 2px solid #FFBE0A;

    }
/* <!--.................................... main===part..................................--> */
.blog-part {
      
   display: grid;
    place-items: center; 
   /* grid-template-columns: repeat(2, 1fr); */
   grid-auto-rows: 300px;
   grid-template-columns: repeat(auto-fit, minmax(150px, 1fr))
}

.blog-box {
   width: 80%;
   height: 30vh;
}

.blog-box-img{
   overflow: hidden;
 
}
.blog-box-img .blog-img {
   width: 100%;
   height:18vh;
   object-fit: cover;
   transition-duration: 2s;
   display: block;
   margin: 0 auto;
}
.blog-box-img .blog-img:hover{
   transform: scale(1.1);
}
.blog-text .blog-text1 {
   padding-top: 5px;
   padding-bottom: 5px;
   font-size:2.4vw;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 600;
   font-style: normal;

}

.blog-para .blog-para1 {
   padding-bottom: 5px;
   font-size: 6px;
   color: #292929;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
 
}

.blog-btn .blog-btn1 {
   font-size: 10px;
   color: #841921;
   font-family: "Poppins", sans-serif;
   font-weight: 500;
   font-style: normal;
   border-bottom: 2px solid #841921;
}

/* ==============================   <!-- ==========footer-part============= -->========================= */
.f-part1 {
    background-image: url("/img_SD_PHOTO/footerimg/Yorkshire-Festival-Wedding-Shoes.jpg");
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat;
    background-size:100% 100%;
    object-fit: cover;

}

.f-part1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.f-part1 .f-part-text {
    font-size: 20px;
    text-align: center;
    color: #FEFBF6;
    padding-bottom: 50px;
}

.f-part1 .f-btn {
    text-align: center;
    background-color: #FFBE0A;
    padding: 10px 40px 10px 40px;
    font-size: 15px;
   color: #000;
   margin-bottom: 40px;
}
.f-part1 .f-btn:hover{
    background-color: #000;
    color: #FFBE0A;

}
.f-part1 .f-icons{
    display: flex;
    gap: 20px;
}
.f-part1 .ficon{
    font-size: 18px;
    color: #FEFBF6;
}
.f-part1 .ficon:hover{
    color: #2c2b27;
}
.f-part2{
    background-color: #292929;
    width: 100%;
    height: 13vh;
}
.f-part2 .f-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #FEFBF6;
    padding: 20px 0 20px 0;
}
.f-part2 .f-text1{
    font-size: 9px;
    padding-bottom: 18px;
    width: 80%; 
    text-align: center;
}
.f-part2 .f-text2{
    font-size: 10px;
    width: 80%; 
    text-align: center;
}
.f-part2 .f-text3{
    border-bottom: 2px solid #FEFBF6;
    transition: all .6s ease;
}
.f-part2 .f-text3:hover{
color: #FFBE0A;
}





}